.cyberBackground {
    background: black/* linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../resources/images/cyber_background.png")*/;
}

.cyberBackgroundLight, body {
    background: white/*linear-gradient(rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 0.96)),
    url("../../resources/images/cyber_background.png")*/;
}

a {
    outline: 0;
}