html, body {
    height: 100%;
}

.background {
    background-color: #42403d;
}

.content {
    background-color: #f9f3cc;
}:wq

.title {
    font-size: 85px;
    font-family: Impact, Charcoal, sans-serif;
}

.title a {
  color: rgb(33, 37, 41);
}

.title a:hover {
    text-decoration: none;
    color: #101010;
}

.subtitle {
    font-size: 27px;
    font-family: Impact, Charcoal, sans-serif;
}

.try-button {
    width: 220px;
    height: 80px;
}

.navbar-addons {
    background-color: rgba(0, 0, 0, 0) !important;
}
