html, body {
    height: 100%;
}

.root {
    min-height: 100%;
}

.background {
    background-color: #42403d;
}

.content {
    background-color: #f9f7f2;
    min-height: 100%;
    padding-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Impact, Charcoal, sans-serif !important;
}

.title {
    font-size: 85px;
}

.title a {
    color: rgb(33, 37, 41);
    font-family: Impact, Charcoal, sans-serif;
}

.title a:hover {
    text-decoration: none;
    color: #101010;
}

.subtitle {
    font-size: 27px;
    font-family: Impact, Charcoal, sans-serif;
}

.try-button {
    width: 220px;
    height: 80px;
}

.navbar-addons {
    background-color: rgba(0, 0, 0, 0) !important;
}
