{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-light navbar-addons">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == '/showcase/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'showcase' %}">{% trans "Home" %}</a>
            </li>
            <li class="nav-item {% if request.path == '/showcase/download' %}active{% endif %}">
                <a class="nav-link" href="{% url 'download' %}">{% trans "Download" %}</a>
            </li>
            <li class="nav-item {% if request.path == '/showcase/documentation' %}active{% endif %}">
                <a class="nav-link" href="{% url 'documentation' %}">{% trans "Documentation" %}</a>
            </li>
            <li class="nav-item {% if request.path == '/showcase/leaderboard' %}active{% endif %}">
                <a class="nav-link" href="{% url 'leaderboard' %}">{% trans "Leaderboard" %}</a>
            </li>
            <li class="nav-item {% if request.path == '/showcase/articles' %}active{% endif %}">
                <a class="nav-link" href="{% url 'articles' %}">{% trans "Articles" %}</a>
            </li>
            <li class="nav-item {% if request.path == '/showcase/credits' %}active{% endif %}">
                <a class="nav-link" href="{% url 'credits' %}">{% trans "Credits" %}</a>
            </li>
        </ul>
    </div>
</nav>
